@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "inter-regular";
  src: url("/fonts/Inter-Regular.ttf") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "inter-medium";
  src: url("/fonts/Inter-Medium.ttf") format("woff");
  font-weight: 500;
  font-display: swap;
}

html {
  @apply w-full h-full;
}

body {
  @apply bg-[#1f1f1f] flex flex-row w-full h-full;
}

.loading {
  animation: spin 0.6s infinite linear;
  @apply border-4 rounded-full w-8 h-8 border-l-[#1f1f1f] border-r-[#1f1f1f] border-b-[#1f1f1f] border-t-[#10cc81];
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
